:root {
  --content-bg-color: #efefef;
}

html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  background-color: var(--content-bg-color);

  /* top, right, bottom, left */
  margin: 0 auto 0 auto;
}

.contact-details-bg {
  background: linear-gradient(#e66465, #9198e5);
  border-radius: 30px;
  padding: 10px;
}

.contact-details-fg {
  background-color: var(--content-bg-color);
  border-radius: 20px;
  padding: 20px;
}

.contact-details {
  background-color: white;
  border: 5px solid purple;
  padding: 30px;
  border-radius: 20px;

  background: linear-gradient(#ccc, white);
}

.contact-details ul {
  margin-top: 0;
  margin-bottom: 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  color: darkslategray;
  border-bottom: 10px dotted purple;
}

.shadowed {
  background: darkgreen;
  margin: 40px 20px 0 0;
}

.shadowed p {
  background-color: rgb(156, 195, 156);
  position: relative;
  left: 20px;
  top: 20px;
  padding: 10px;
}



/*
BOX STYLES

1. Give the <body> element a padding of 20px on all sides and a width of 500px.

2. Give the <body> element a background color of #efefef (a light-gray <hex-color> value).

3. Center the <body> element inside the viewport by setting top- and bottom-margins of 0, and left- and right-margins of auto.

4. Give the <ul> used for the contact details a background color of white, and a 5px solid purple border on all sides. Give the <ul> padding of 30px on all sides to push the content away from the border.

5. Give the <ul> a border radius of 20px.

TEXT STYLES

6. Make the level one heading dark gray, using the CSS color keyword darkslategray, and give the heading a 10px dotted bottom border, which uses the CSS color keyword purple.

7. Make the level two heading italic.

8. Give the level one heading a font size of 2rem and the level two heading a font size of 1.5rem.

9. Select the <div> using a class selector, and give it a color of darkslategray and a bold font weight.

10. Make the links green.

11. Make the links darkgreen while hovered over with the mouse pointer or focused via the keyboard (you'll need to use a couple of pseudo-classes for this).

12. Make the links lose their underline while hovered or focused.
*/